BASE_URL=http://localhost:8080

# Bearer token used by bearer_env (auth_name = bearer_auth)
ENV__BEARER_ENV__API_TOKEN=some-token

# OAuth2 Common
OAUTH_AUTHORIZATION_URL=http://localhost:9090/realms/rq-uat/protocol/openid-connect/auth
OAUTH_TOKEN_URL=http://localhost:9090/realms/rq-uat/protocol/openid-connect/token
OAUTH_SCOPE="profile email"

# OAuth2 Authorization Code
ENV__OAUTH_AC_DEFAULT_ENV__OAUTH_CLIENT_ID=rq-uat-ac
ENV__OAUTH_AC_CUSTOM_ENV__OAUTH_CLIENT_ID=rq-uat-ac

# OAuth2 Implicit
ENV__OAUTH_IMPLICIT_DEFAULT_ENV__OAUTH_CLIENT_ID=rq-uat-implicit

# OAuth2 Client Credentials
ENV__OAUTH_CC_ENV__OAUTH_CLIENT_ID=rq-uat-cc
ENV__OAUTH_CC_ENV__OAUTH_CLIENT_SECRET=rq-uat-secret

# OAuth2 Client Credentials with certificate
ENV__OAUTH_CC_CERT_ENV__OAUTH_CLIENT_ID=rq-uat-cc-cert
ENV__OAUTH_CC_CERT_ENV__OAUTH_CC_CERT_PASSWORD=rq-uat-p12
