BASE_URL=http://localhost:8080

API_TOKEN=replace-me

OAUTH_CLIENT_ID=replace-me
OAUTH_CLIENT_SECRET=replace-me
OAUTH_AUTHORIZATION_URL=http://localhost:9090/realms/rq-uat/protocol/openid-connect/auth
OAUTH_TOKEN_URL=http://localhost:9090/realms/rq-uat/protocol/openid-connect/token
OAUTH_SCOPE=read:all

OAUTH_CC_CERT_CLIENT_ID=rq-uat-cc-cert
OAUTH_CC_CERT_PASSWORD=rq-uat-p12
